/**********************************
		BASIC STYLING
**********************************/
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;

	
}

p, li {
	font-family: 'Roboto', 'Helvetica-Neue';
}



html, body {
	height: 100%;
	width: 100%;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

/**********************************
		NAVIGATION
**********************************/


header.nav-header {
	position: fixed;
	top:0;
	background-color: HSLA(0, 100%, 100%, 0.9);
	border-top: 4px solid HSLA(0, 69%, 59%, 1);
	border-bottom: 1px solid black;
	width: 100%;
	box-shadow: 0px .5px 3px 0px rgba(0, 0, 0, 0.75);
	/*position: fixed;
	top: 0;*/
	/*box-shadow: 0 6px 4px -4px #999;*/
}

header.nav-header header.top {
	height: 90px;
	width: 100%;
}

header.nav-header header.top div {
	
}

header.nav-header header.top div h2 {
	color: #000;
	padding-top: 30px;
	text-align: center;
}

header.nav-header header.top div h2 a:hover > span {
	color: HSLA(0, 58%, 51%, 1);
}


nav.navbar {
	width: 100%;
	height: 64px;
	display: flex;
	align-items: center;
	
	
}

nav.navbar .nav-content {
	
	flex-grow: 2;
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
	margin-left: 100px ;
}

.nav-content li {
	color: #000;
	text-transform: uppercase;
	font-weight: bold;
	padding-right: 24px;
	font-size: .9em;
	transition: all 0.2s ease;
}

.nav-content li:hover {
	color: HSLA(0, 69%, 59%, 1);
}

.nav-content li.logo img {
	margin-left: -50px;
	margin-right: 100px;
	width: 50px;
	/*height: 50px;*/
}

.icon-search-container {
	/*cursor: pointer;*/
	/*background-color: HSLA(0, 70%, 55%, .9);*/
	display: flex;
	justify-content: center;
	align-items: center;
	width: 250px;
	height: 64px;
	display: flex;
	justify-content: flex-end;
	border-right: 0;
	transition: all .2s ease;

}

.icon-search {
	cursor: pointer;
	
	width: 25px;
	height: 25px;
	margin-left: 10px;


	/*border-left: 1px solid black;*/
}

/*.icon-search-container:hover {
	background-color: HSLA(0, 80%, 58%, 1);
}*/

input.search-container {
	/*display: none;*/
	/*border-radius: 2px;*/
	background-color: #eee;
	color: #444444;
	padding-left: 10px;
	margin: 0;
	border: 0;
	border-radius: 5px;
	height: 32px;
	width: 220px;
	
}

input:focus {
	outline: 0;
	/*border: 2px solid #900;*/
}


/**********************************
			JUMBOTRON
**********************************/


section.landing {
	display: flex;
	/*justify-content: center;*/
	/*align-items: center;*/
	width: 100%;
	height: 100%;
}

section.landing div.jumbotron {
	width: 100%;
	height: 100%;
	background: linear-gradient(
      rgba(0, 0, 0, 0.5), 
      rgba(0, 0, 0, 0.5)
    ), url('../img/landing.jpeg') center center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	align-items: center;
	justify-content: center;
}
section.landing div.jumbotron div {
	display: flex;
	flex-flow: column wrap;
	justify-content: center;
	align-items: center;
}
section.landing div.jumbotron div h2, section.landing div.jumbotron div h3 {
	font-family: 'Roboto Slab', 'Helvetica-Neue';
	color: #fff;
	font-size: 3.5em;
	text-transform: uppercase;
	line-height: 1em;
	text-align: center;
}

section.landing div.jumbotron div button {
	font-family: 'Roboto Slab', 'Helvetica-Neue';
	margin-top: 20px;
	width: 250px;
	height: 65px;
	border: 2px solid HSLA(0, 0%, 100%, 1);
	border-radius: 4px;
	background-color: transparent;
	color: #fff;
	text-transform: uppercase;
	font-size: 1.3em;
	font-weight: bold;
	transition: all .3s ease;
	outline: 0;
}

section.landing div.jumbotron div button:hover {
	border: 2px solid HSLA(0, 69%, 59%, 1);
	color: HSLA(0, 69%, 59%, 1);
	
}


/**********************************
			FEATURED
**********************************/


section.featured {
	width: 100%;
	height: 100%;
	padding-top: 100px;
	display: flex;
	justify-content: center;
}

section.featured div.item-section-divider  {
	width: 80%;
	height: 100px;
	/*border-top: 1px solid black;*/
	display: flex;
	justify-content: center;
	align-items: center;
}

section.featured div.item-section-divider h2 {
	text-transform: uppercase;
	position: relative;
	top: -3rem;
	display: inline-block;
}















